/* ================Variables==================== */

/* Colors */
$white:#fff; //white
$pink:#e4757a; //pink
$pink-light:#ec9fa3; //light pink
$blue:#4da2bb; //blue
$blue-light:#7ee6fd; //light blue
$purple:#927bc1; //purple
$purple-light:#deb2ee; //light purple
$lime-green:#63cc82; //lime green
$lime-green-light:#88d9a0; //light lime green
$orange:#fd7856; //orange
$orange-light:#fd9f85; //light orange
$teal-light:#80e8d1; //light teal

$color-font:#777; //grey
$color-primary:#58e1c1; //teal
$color-link:#51ddfc; //aqua
$color-border:#ccc; //light grey
/*======================*/

/* Break Points */
$break-s: 768px;
/*======================*/

/* ============================================= */