/* ============================================= */
/*              Buttons                          */

.btn {
    margin-top: 15px;
    width: 100%;
    color: $white;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
  }
  
  .default {
    background-color: $color-link;
  }
  
  .error {
    background-color: $pink;
  }
  
  .info {
    background-color: $purple;
  }
  
  .success {
    background-color: $lime-green;
  }
  
  .warning {
    background-color: $orange;
  }
  
  /* ============================================= */
